@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
	--primaray-color: hsl(257, 40%, 49%);
	--secondary-color: hsl(300, 69%, 71%);
	--body-font: "Open Sans", sans-serif;
	--heading-font: "Poppins", sans-serif;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	background-color: var(--primaray-color);
	background-image: url(../images/bg-mobile.svg);
	background-repeat: no-repeat;
	background-position: top right;
	font-family: var(--body-font);
	background-size: contain;
	font-size: 1.6rem;
	line-height: 1.5;
	padding: 3rem 3.5rem;
	color: #fff;
}

@media (min-width: 1000px) {
	body {
		background-image: url(../images/bg-desktop.svg);
	}
}

.container {
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 500px) {
	.container {
		width: 80%;
	}
}

@media (min-width: 700px) {
	.container {
		width: 65%;
	}
}

@media (min-width: 1000px) {
	.container {
		max-width: 128rem;
		width: 100%;
	}
}

.header {
	margin-bottom: 5.5rem;
}

.header__img {
	width: 40%;
}

@media (min-width: 1000px) {
	.header__img {
		width: 20%;
	}
}

main {
	margin-bottom: 6.5rem;
}

@media (min-width: 1000px) {
	main {
		margin-bottom: 0rem;
	}

	main .container {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 5rem;
	}
}

.illustration {
	margin-bottom: 5rem;
}

.illustration__img {
	width: 100%;
}

.content {
	text-align: center;
}

@media (min-width: 1000px) {
	.content {
		text-align: start;
	}
}

.content__title {
	font-family: var(--heading-font);
	font-size: 2.4rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

@media (min-width: 1000px) {
	.content__title {
		text-align: start;
		margin-top: 5rem;
		font-size: 4.2rem;
	}
}

.content__text {
	margin-bottom: 2em;
}

.btn:link,
.btn:visited {
	text-decoration: none;
	display: inline-flex;
	background-color: #fff;
	width: 20rem;
	height: 4rem;
	border-radius: 10rem;
	justify-content: center;
	align-items: center;
	color: var(--primaray-color);
	font-family: var(--heading-font);
	transition: 0.3s linear;
}

.btn:active,
.btn:hover {
	background-color: var(--secondary-color);
	color: #fff;
}

@media (min-width: 1000px) {
	.content__text {
		margin-bottom: 3em;
	}

	.btn:link,
	.btn:visited {
		height: 5rem;
	}
}

.footer__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1000px) {
	.footer__list {
		justify-content: flex-end;
	}
}

.footer__item {
	width: 4rem;
	height: 4rem;
	border: 2px solid #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	cursor: pointer;
	align-items: center;
	transition: 0.3s linear;
}

.footer__item:hover {
	border: 2px solid var(--secondary-color);
}

.footer__item:hover svg {
	fill: var(--secondary-color);
}

.footer__item:nth-child(2) {
	margin: 0 2rem;
}

.footer__link {
	line-height: 1;
}

.footer__link svg {
	fill: #fff;
	height: 1.6rem;
	transition: 0.3s linear;
}
